.navbar_elements{
    padding: 21.6px;
    color: white;
    text-decoration: none;
}

.navbar_textdec{
    text-decoration: none;
}

.icons_elements{
    height: 20px;
    fill: white;
    color: white;
    padding-right: 21.6px;
    
}

.profile_image{
   
    display: inline-block;
    float: left;
   
    margin-top: 30px;
}
.about_me{
   
    /* background-color:wheat;  */
    display: inline-block;
    float: left; 
   
    margin-top: 30px;
    text-align: start;
}
.button_a{
    height: 34px;
    width: 120px;
    border-radius: 20px;
    font-size: 14px;
    background-color: black;
    color: white;
    border-width: 1px;
    border-color: white;
}

.tr1{
    background-color: aqua;
     padding: 4px;
     border-radius: 20px;
}

.photo_1{
    width: 20%;
    height: 400px;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-left: 54px;
    margin-top: 30px
}
/* 
.resize{
    width: 50%;
height: 50%;
}  */

html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.research_sect{
    text-align: justify; 
    margin-left: 54px; 
    margin-right: 27px;
    color: white;

}

.research_sect1{
    margin-top: -13px;
}